.food-modal {

    .modal-dialog {
        max-width: 60%;

        @media (max-width: 1300px) {
            max-width: 80%;
        }

        @media (max-width: 1000px) {
            max-width: 90%;
        }
    }

    .modal-content {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    padding: 40px;

        .modal-header {

            .modal-title {
                font-size: 50px;
                letter-spacing: 10px;
                color: #13b36b;
            }
        }

        .modal-body {
            display: flex;
            font-size: 18px;
            align-items: center;

            .left {
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: center;
                
                img {
                    width: 90%;
                    border-radius: 15px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                }
            }
        }
    }
}