.main-container {
    display: flex;
    justify-content: center;

    .list-container {
        display: flex; 
        justify-content: center;
        max-width: 90%;
        flex-wrap: wrap; 
        gap: 20px; 
    }
}