.food-card {
    background: rgba(211, 211, 211, 0.32) !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(211, 211, 211, 0.42) !important;
    transition: 0.8s;

    &:hover {
        transform: translateY(-5px);
    }

    .card-title {
        font-size: 35px;
        letter-spacing: 6px;
        text-align: center;
    }
}