.footer {
    width: 100%;
    background: rgba(211, 211, 211, 0.4);
    height: 60px;
    margin-top: 40px;
    display: flex;
    align-items: center;

    .icons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        a {
            width: 30px;
            margin-left: 10px;
        }
    }
}